#App {
	display: flex;
	height: 100%;
	width: 100%;
	flex-direction: column;
}

/* div {
	position: relative;
	border: 1px solid gray;
	box-sizing: border-box;
} */

.splitView {
	display: flex;
	align-items: flex-start;
	height: 100%;
	width: 100%;
}

.splitView.horizontal {
	height: 100%;
	width: 100%;
	flex-direction: row;
}

.splitView.vertical {
	flex-direction: column;
	width: 100%;
	height: 100%;
}

.splitView.vertical .divider-hitbox {
	cursor: row-resize;
	align-self: stretch;
	display: flex;
	align-items: center;
	/* padding: 2px 1em; */
}

.splitView.vertical .divider {
	height: 2px;
	width: 100%;
	border: 2px solid #808080;
	box-sizing: border-box;

	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.splitView.horizontal .divider-hitbox {
	cursor: col-resize;
	align-self: stretch;
	display: flex;
	align-items: center;
	/* padding: 1em 2px; */
}

.splitView.horizontal .divider {
	width: 2px;
	height: 100%;
	border: 2px solid #808080;
	box-sizing: border-box;

	display: flex;
	flex-direction: row;
	align-items: flex-start;
}

.topPane,
.bottomPane,
.leftPane,
.rightPane {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.rightPane,
.bottomPane {
	flex: 1;
}

.Controls {
	display: flex;
	height: 100%;
	width: 100%;
	flex-direction: row;
}
